/* CSS Document */

#container {
	text-align:center;
	background-color: #d3e1f1;
	height:100%;
}

root { 
    display: block;
}

body{
    /*background-color : #ece9d8;*/
    margin:0px;
    padding:0;
}

#div_00{
    background-color: #b2c8e2; /*#D1C6AE;*/
    position: static;
}

#div_01{
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
}

#div_02{
    position: absolute;
    top: 70px;
    left: 0px;
    width: 238px;
    background-color: #b2c8e2;
}

#div_03{
    position: absolute;
    top: 73px;
    left: 240px;
    width:765px;
    background-color: #d3e1f1;/*#D1C6AE;*/
    margin: 0px
}

#logout_bar {
    font-family: Serif, Verdana, Arial, Helvetica, sans-serif, "comic Sans MS";
    font-size: 9pt;
    font-weight: bold;
}

#logout_bar a {
	text-decoration: none;
	color: #000000;
}

#logout_bar a:hover {
	text-decoration: none;
	color: #b2c8e2;
}

/* Form CSS section */
#fields_div div table {
    font-family:Serif, Verdana, Arial, Helvetica, sans-serif", comic Sans MS";
    font-size:10pt;
    font-weight:normal;
}
#fields_div table {
	margin:5px;
}

#fields_div table td{
	padding:2px
}

#status_div {
	padding: 2px; 
	width: 98%; 
	background-color:#c6d9f1;
	border: #ffffff 2px solid;
	height:20px;
	margin-left:5px;
	margin-bottom:5px;
    font-family:Serif, Verdana, Arial, Helvetica, sans-serif", comic Sans MS";
    font-size:9pt;
    font-weight:normal;
}

#error_message {
    width : 700px;
    height : 15px;
    background-color : #f9f9ef;
    color : #ff0000;
    text-align : center;
    padding : 3px;
    font-family:Serif, Verdana, Arial, Helvetica, sans-serif", comic Sans MS";
    font-size:9pt;
    font-weight:normal;
    border-width: 1px;    border-style: solid;    border-color: #ff0000;}

